<h1>Input Page</h1>
<form>
  <h2>Choose your weapon:</h2>
  <div>
    <input type="radio" id="rock" name="user-choice" value="rock" (click)="onSelect('rock')">
    <label for="rock">Rock</label>
  </div>
  <div>
    <input type="radio" id="paper" name="user-choice" value="paper" (click)="onSelect('paper')">
    <label for="paper">Paper</label>
  </div>
  <div>
    <input type="radio" id="scissors" name="user-choice" value="scissors" (click)="onSelect('scissors')">
    <label for="scissors">Scissors</label>
  </div>
  <button type="submit">Submit</button>
</form>

