div {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100px;
  height: auto;
  margin: 1rem;
}

button {
  font-size: 1rem;
  padding: .5rem 1rem;
  border-radius: .25rem;
  background-color: #007bff;
  color: #fff;
  border: none;
}
