<h1>Input Page</h1>
<form (ngSubmit)="onSubmit()">
  <label>
    Name:
    <input type="text" [(ngModel)]="name" name="name" required>
  </label>

  <br><br>

  <label>
    Meal Preference:
    <br>
    <input type="radio" [(ngModel)]="mealPreference" name="mealPreference" value="Chicken" required> Chicken
    <br>
    <input type="radio" [(ngModel)]="mealPreference" name="mealPreference" value="Fish" required> Fish
    <br>
    <input type="radio" [(ngModel)]="mealPreference" name="mealPreference" value="Vegetarian" required> Vegetarian
  </label>

  <br><br>

  <button type="submit">Submit</button>
</form>
